/* colour palette
	Orange - #fda52d
	Background (header-footer) - #262827
	Darker (than Background) - #222021
	Lighter 01 - #323433
	Lighter 02 - #323433
	Lighter 03 - #696f6f
*/
h3 {
	color:white;
	font-family: title;
	font-size: 2.2rem;
}
h4 {
	color:white;
	font-family: title;
	font-size: 5rem;
}
}
#info {
	width: 100%;
	background-color: #222021;
}
#quizimg {
	width: 30%;
	margin: 2%;
}
.content {
	width: 100%;
	background-color: #323433;
	float: left;
}
.content section { /* content boxes */
	width: 98%;
	background-color: #222021;
	float: left;
	margin-top: 1%;
	margin-left: 1%;
	margin-bottom: 1%;
}
.content section div{
	width: 80%;
	float: left;
	margin-left: 10%;
	margin-bottom: 1%;	
}
.content section h2 {
	width: 75%;
	font-family: title;
	font-size: 3rem;
	float: left;
	margin-left: 3%;
	margin-bottom: 2.5%;
	margin-top: 2.5%;
	color: white;
}
.content section div p {
	width: 95%;
	font-family: paragraph;
	font-size: 1.5rem;
	margin-left: 1%;
	color: white;
}
#results{
	width: 85%;
}
input[type='submit']{ /* Submit button css */
	background-color: #404445;
	width: 20%;
	border: 1%;
	border-color: #fda52d;
	color: white;
	font-family: title;
	font-size: 2rem;
	cursor: pointer;
	margin-left: 30%;
}